.container
    max-width: 1140px
    width: 100%
    margin: auto
@media screen and ( max-width: 1140px )
    .container
        max-width: 960px
        width: 100%
@media screen and ( max-width: 963px )
    .container
        max-width: 780px
        width: 100%
@media screen and ( max-width: 785px )
    .container
        max-width: 600px
        width: 100%
@media screen and ( max-width: 605px )
    .container
        max-width: 500px
        width: 100%
@media screen and ( max-width: 505px )
    .container
        max-width: 380px
        width: 100%
@media screen and ( max-width: 385px )
    .container
        max-width: 300px
        width: 100%
    
    